@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$font-text: "Roboto", "sans-serif";

$primary-color: #f5f5f5;
$secondary-color: #38383d;
$tertiary-color: #ff8a00;
$fourth-color: #888888;
$fifte-color: #555555;
$sixth-color: rgb(85, 85, 85, 0.5);
$seventh-color: #01153d;
$delete-color: #e14d2a;
