.experience {
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  min-height: 96vh;
  gap: 2vw;

  &_box {
    width: 27%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    box-shadow: 0 0 5px 1px $secondary-color;
    padding: 1%;
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

    &_link {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      &_logo {
        width: 30%;

        &_pic {
          width: 90%;
        }

        .ateq {
          width: 130%;
        }
      }

      &_name {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1vw;

        &_title {
          font-weight: 600;
          font-family: $font-text;
          text-align: center;
          font-size: 2vw;
          transition: 0.3s ease-in-out;

          &:hover {
            color: $tertiary-color;
          }
        }

        &_date {
          font-size: 0.8vw;
        }
      }
    }

    &_infos {
      display: flex;
      flex-direction: column;
      margin-top: 1vw;
      gap: 0.7vw;
      font-size: 0.9vw;
      max-height: 10vw;
    }
  }
}

@media (max-width: 845px) {
  .experience {
    flex-direction: column;
    gap: 4vw;
    padding-bottom: 3%;

    &_box {
      width: 90%;
      padding: 2%;

      &_link {
        &_logo {
          width: 30%;

          &_pic {
            width: 85%;
          }

          .ateq {
            width: 100%;
          }
        }

        &_name {
          &_title {
            font-weight: 600;
            font-family: $font-text;
            text-align: center;
            font-size: 25px;
            transition: 0.3s ease-in-out;

            &:hover {
              color: $tertiary-color;
            }
          }

          &_date {
            font-size: 18px;
          }
        }
      }

      &_infos {
        font-size: 15px;
        max-height: none;
      }
    }
  }
}
