@import "./bigPictures.scss";

.formation {
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  min-height: 96vh;
  gap: 2vw;

  &_box {
    width: 27%;
    min-height: 17vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    box-shadow: 0 0 5px 1px $secondary-color;
    padding: 1%;
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

    &_btn {
      width: 100%;

      &_img {
        width: 100%;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 845px) {
  .formation {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vw;
    padding-bottom: 3%;

    &_box {
      width: 90%;
      justify-content: center;
      align-items: center;
      padding: 1%;

      &_img {
        width: 97%;

        &:hover {
          -ms-transform: scale(1.5);
          -webkit-transform: scale(1.5);
          transform: scale(1.5);
        }
      }
    }
  }
}
