.home {
  margin-top: 5vh;
  margin-left: 2vw;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1vw;
  // align-items: center;
  font-family: $font-text;
  color: $primary-color;

  &_prez {
    color: $secondary-color;

    p {
      font-size: 2.5vw;
    }

    &_dev {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1vw;
      margin-top: 2%;
      margin-bottom: 2%;

      p {
        font-size: 1.5vw;
      }

      .buttonDownload {
        display: inline-block;
        position: relative;
        width: 150px;
        padding: 10px 25px;
        background-color: $tertiary-color;
        border-radius: 15px;
        color: $primary-color;
        text-decoration: none;
        font-size: 1.1em;
        text-align: center;
        text-indent: 15px;
        border: none;
        cursor: pointer;
        transition: 0.3s ease-in-out;

        &:hover {
          background-color: $delete-color;
          color: white;
        }

        &:before,
        &:after {
          content: " ";
          display: block;
          position: absolute;
          left: 15px;
          top: 52%;
        }

        &:before {
          width: 10px;
          height: 2px;
          border-style: solid;
          border-width: 0 2px 2px;
        }

        &:after {
          width: 0;
          height: 0;
          margin-left: 3px;
          margin-top: -7px;
          border-style: solid;
          border-width: 4px 4px 0 4px;
          border-color: transparent;
          border-top-color: inherit;
          animation: downloadArrow 1s linear infinite;
          animation-play-state: paused;
        }

        &:hover:after {
          // border-top-color: #cdefbd;
          animation-play-state: running;
        }

        @keyframes downloadArrow {
          0% {
            margin-top: -7px;
            opacity: 1;
          }

          0.001% {
            margin-top: -15px;
            opacity: 0.4;
          }

          50% {
            opacity: 1;
          }

          100% {
            margin-top: 0;
            opacity: 0.4;
          }
        }
      }
    }
  }

  &_textBox {
    padding: 1%;
    font-size: 25px;
    font-family: "Courier New", Courier, monospace;
    width: 40vw;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;

    span {
      color: $tertiary-color;
    }

    &_line1 {
      span {
        color: yellow;
      }
    }

    &_line2 {
      margin-left: 14%;
    }

    &_line3 {
      margin-left: 14%;
    }

    &_line4 {
      margin-left: 14%;
    }

    &_line5 {
      margin-left: 14%;
    }

    &_line6 {
      margin-left: 14%;
    }

    &_line7 {
      margin-left: 30%;
    }

    &_line8 {
      margin-left: 30%;
    }

    &_line9 {
      margin-left: 30%;
    }

    &_line10 {
      margin-left: 30%;
    }

    &_line11 {
      margin-left: 30%;
    }

    &_line12 {
      margin-left: 30%;
    }
  }
}
