.home {
  margin-top: 5vh;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  font-family: $font-text;
  color: $primary-color;

  &_textBox {
    padding: 1%;
    font-size: 25px;
    font-family: "Courier New", Courier, monospace;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;

    span {
      color: $tertiary-color;
    }

    &_line1 {
      span {
        color: yellow;
      }
    }

    &_line2 {
      margin-left: 14%;
    }

    &_line3 {
      margin-left: 14%;
    }

    &_line4 {
      margin-left: 14%;
    }

    &_line5 {
      margin-left: 14%;
    }

    &_line6 {
      margin-left: 14%;
    }

    &_line7 {
      margin-left: 30%;
    }

    &_line8 {
      margin-left: 30%;
    }

    &_line9 {
      margin-left: 30%;
    }

    &_line10 {
      margin-left: 30%;
    }

    &_line11 {
      margin-left: 30%;
    }

    &_line12 {
      margin-left: 30%;
    }
  }
}
