//--------------App LAZY-----------------
.App {
  .loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 1;

    p {
      margin-top: 1rem;
      font-size: 3rem;
      font-family: $font-text;
      font-weight: 700;
      color: $tertiary-color;
    }
  }

  .spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: $tertiary-color transparent $tertiary-color transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
  }

  @keyframes spin-anim {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

//-----------General-----------------

.App {
  display: flex;
  flex-direction: row;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: $font-text;

  &_navBar {
    width: 20%;
  }

  &_comp {
    width: 80%;
  }

  &_contact {
    position: absolute;
    bottom: 2vw;
    right: 2vw;
  }
}

//-----------Dark theme-----------------

.App.dark-theme {
  .navbar {
    background-color: $secondary-color;
    box-shadow: 0 0 5px 1px $primary-color;

    &_menu_link {
      color: $primary-color;

      &:hover {
        color: $tertiary-color;
      }
    }
  }

  .home {
    &_prez {
      color: $primary-color;
    }
  }

  .home_textBox {
    background-color: rgba(0, 0, 0, 0.9);
  }

  .projets_box {
    background-color: rgba(56, 56, 61, 0.8);
    box-shadow: 0 0 5px 1px $primary-color;
    color: $primary-color;
  }

  .formation_box {
    background-color: rgba(56, 56, 61, 0.8);
    box-shadow: 0 0 5px 1px $primary-color;
  }

  .experience_box {
    background-color: rgba(56, 56, 61, 0.8);
    box-shadow: 0 0 5px 1px $primary-color;
    color: $primary-color;
  }
}
